{% extends 'base.html' %}

{% load formtags %}
{% load widget_tweaks %}

{% block title %} {{page_title}} {% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>{{page_header.icon|safe}} {{page_header.title|safe}}</h4>
                    </div>
                    <div class="card-body">
                        <form action="{{from.action|default:request.path}}" role="form" id="{{form.id|default:'id_form'}}" method="{{form.method|default:'post'}}" enctype="multipart/form-data" novalidate>
                            <!-- CSRF TOKEN -->
                            {% csrf_token %}
                
                            <!-- Hidden fields -->
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                                {% if hidden_field.errors %}
                                    {% for error in hidden_field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                
                            <!-- Non field errors -->
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% endif %}
                
                            <!-- Rendering Feilds -->
                            {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class=form|validate_class:field placeholder=field.label autocomplete='off' %}
                                {% validate_error field %}
                                {% field_help_text field %}
                            </div>
                            {% endfor %}

                            <!-- Buttons -->
                            <div class="mt-4">
                                {% for button in form.buttons %}
                                    <button {% for key,value in button.items %} {{key}} ="{{value}}" {% endfor %}>
                                        {{button.label|safe}}
                                    </button>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}