{% load tabletags %}

<table id="commonTable">
    <thead>
        <tr>
            {% for header in headers.values %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for data in object_list %}
            <tr>
                {% for key in headers.keys %}
                    {% if key in value_as_action %}
                        <td class="d-flex">{% getaction data key %}</td>
                    {% else %}
                        <td>{{data|getattribute:key}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>