{% extends 'base.html' %}

{% block title %} {{page_title}} {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{page_header.icon|safe}} {{page_header.title|safe}}</h4>
                    </div>
                    <div class="card-body">
                        {% include 'common_table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
            $(document).ready( function () {
                $('#commonTable').DataTable();
            } );
    </script>
{% endblock %}
