<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item active">
      <a href="{% url 'dashboard' %}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li class="nav-item active">
      <a href="{% url 'emp_manage:add_employee' %}" class="nav-link">
        <i class="nav-icon fas fa-user-plus"></i>
        <p>Add Employee</p>
      </a>
    </li>
    <li class="nav-item active">
      <a href="{% url 'emp_manage:list_employee' %}" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>Employee List</p>
      </a>
    </li>
  </ul>