{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        {% for designation,count in object_list.items %}
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{count}}</h3>

              <p>{{designation}}</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a href="{% url 'emp_manage:list_employee' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock %}