{% extends 'base.html' %}

{% block title %} {{page_title}} {% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>{{page_header.icon|safe}} {{page_header.title|safe}}</h4>
                    </div>
                    <div class="card-body">
                        <h3>{{employee.name}}</h3>
                        <h6>#{{employee.employee_number}} | {{employee.designation.name}}</h6>
                        <h6>{{employee.email}}</h6>
                    </div>
                    <div class="card-footer">
                        <form action="{{equest.path}}" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <p class="text-danger">This action can not be undone. Are you sure to delete ?</p>
                                <a class="btn btn-success ml-1" href="{% url 'emp_manage:list_employee' %}">Cancel</a>
                                <button class="btn btn-danger ml-1" type="submit">Yes, Delete Now</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}